
.cis-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cis-modal-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000a0;
        z-index: 999;
    }

    .cis-modal-content {
        z-index: 1000;
    }
}